/* Fonts */
@font-face {
    font-family: 'Lato-Regular';
    src: url(/assets/fonts/Lato-Regular.tff);
}
@font-face {
    font-family: 'Bebas';
    src: url(/assets/fonts/bebas.tff);
}
/* Homepage */
.logo_homepage{
    width: 668px;
    height: 210px;
}
.homepage_buttons{
	height: 160px;
	padding-bottom: 80px;
    margin-left: 80px;
}
.homepage_buttons button{
    font-family: Lato-Regular;
	font-size: 48px;
    display: block;
	height: 1.8em;
    width: 800px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 16px;
    box-shadow: 8px 16px;
}
.homepage_buttons button:active{
    box-shadow: 0px 0px;
    transform: translateX(8px) translateY(16px);
}
.homepage_buttons button:focus{
    outline:0;
}
.homepage_drop{
    font-size: 20px;
    position: absolute;
}
.dropdown{
    padding-left: 200px;
}
.dropdown-item{
    font-size: 16px;
}
body{
    background-image: url("assets/img/homepage_corner.png");
    background-size: 1000px 1300px;
    background-repeat: no-repeat;
}
#birthday{
	background-color: #518274;
}
#thank_you{
	background-color: #a6dec1;
}
#love{
	background-color: #e95024;
}
#congrats{
	background-color: #d99647;
}
#sympathy{
    background-color: #15355f;
}
#friend{
    background-color: #a3d285;
}
#baby{
    background-color: #f9cfc2;
}