/* Fonts */
@font-face {
    font-family: 'Lato-Regular';
    src: url(/assets/fonts/Lato-Regular.tff);
}
@font-face {
    font-family: 'Bebas';
    src: url(/assets/fonts/bebas.tff);
}
/* Homepage */
.logo_homepage img{
    
}
.homepage_buttons div{
	height: 124px;
	padding-bottom: 80px;
}
.card_type_button button{
    font-family: Lato-Regular;
	font-size: 92px;
    display: block;
	height: 100%;
	width: 80%;
    margin: 0 auto;
    border: none;            
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    box-shadow: 8px 16px;
    transition-duration: 0.4s;
}
#birthday{
	background-color: Red;
}
#thank_you{
	background-color: LightGreen;
}
#love{
	background-color: Pink;
}
#friendship{
	background-color: Blue;
}